/* .Genderactive{
background-color: white;
border: 3px solid transparent;
color: #4051BC;
}

.Genderainctive{
    background-color: transparent;
    border: 3px solid #4051BC;
    color: "white"
    }

.inputCss:focus {
    border:2px solid #4051BC !important;
    border-color:red !important;
  
  }

  .inputCss {
 
    border:2px solid #4051BC !important;
    
  }

  .input:focus {
    border:2px solid #4051BC !important;
    border-color:red !important;
  }

  .rightPanelBgImgCtrl{
    position: absolute;
    overflow: hidden;
}
  */